.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.list-group {
  cursor: pointer;
}

.img-bba {
  width: auto;
  height: 250px;
}

.dpca {
  z-index: 101;
  position: fixed;
  bottom: 0;
  right: 0;
}
