<app-loading
  *ngIf="load"
  [message]="'Cargando characters, espere un momento porfavor'"
></app-loading>

<div class="container">
  <div class="row">
    <div class="col-md-4 mt-4" *ngFor="let ch of charactersList">
      <div class="card">
        <img [src]="ch.img" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            {{ ch.name }} -
            <span class="badge bg-success">{{ ch.nickname }}</span>
          </h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>