.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}

.wh {
  width: 4.5rem;
  height: 4.5rem;
}

.message {
  margin-top: 40px;
}
